body {
  font-size: 17px;
}
#root {
  border-top: 10px solid #2a3b56;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
body,
input,
button,
textarea {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}
button {
  cursor: pointer;
}
.App {
  max-width: 830px;
  margin: 0 auto;
  padding: 20px;
}
article {
  font-size: 1.2em;
  line-height: 1.5em;
}
article.open {
  padding-bottom: 60px;
  margin: 0 0 40px 0;
  border-bottom: 1px solid rgb(242, 242, 247);
}
article.collapsed {
  position: relative;
  cursor: pointer;
  margin-bottom: 100px;
}
article.collapsed:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -5px;
  height: 100px;
  background: linear-gradient(to top, #fff, rgba(255, 255, 255, 0.1));
  pointer-events: none;
}
article.collapsed:hover:after {
  height: 60px;
}
article.collapsed:hover > .articleLink h3 {
  border-bottom-color: rgb(152, 158, 206);
}
article img {
  max-width: 100%;
}
h1 {
  font-size: 3.5em;
  margin: 20px 0 0;
  cursor: pointer;
}
header {
  /* 
  margin: 0 0 60px; */
  padding: 50px 0 60px;
}
header a {
  color: #2a3b56;
  text-decoration: none;
}
.loading {
  opacity: 0;
  transform: translate(0px, 10px);
}
.loaded {
  transition: opacity 0.1s ease-in-out, translate 0.2s ease-in-out;
  opacity: 1;
  transform: translate(0px, 0px);
}
h3 {
  font-size: 2em;
  padding: 0 0 5px;
  border-bottom: 1px solid #ddd;
  line-height: 1.2em;
}
h4 {
  font-size: 1.5em;
}
.has-2-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.has-3-columns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.has-4-columns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
blockquote {
  border-left: 10px solid #2a3b56;
  padding: 5px 5px 5px 10px;
  margin: -5px 0 0 0;
  font-style: italic;
  background: #f7f9ff;
}
.wp-block-column {
  padding: 0px 5px;
}
.wp-block-columns {
  overflow-x: auto;
}
.wp-block-cover {
  min-height: 200px;
  margin: 20px 0 40px;
  background-size: cover;
}
.showLoading {
  text-align: center;
  padding-top: 100px;
  color: rgb(83, 82, 97);
}
.articleLink {
  color: rgb(6, 18, 59);
  text-decoration: none;
}
.articleLink:hover,
article.open .articleLink,
nav ul li button:hover {
  color: rgb(11, 31, 97);
}
.seperator {
  padding: 0 20px 0 0;
  color: #aaa;
}
.articleLink:hover h3,
article.open .articleLink h3 {
  border-bottom-color: transparent;
}
.minHeight {
  min-height: calc(100vh - 400px);
}
footer {
  text-align: center;
  padding: 100px 0;
  background: rgb(22, 27, 35);
  margin-top: 100px;
}
footer a {
  color: #f9f9f9;
}
footer a:hover {
  text-decoration: none;
}
header,
nav {
  text-align: center;
}
nav {
  border-bottom: 1px solid #eee;
  border-top: 1px solid #eee;
  position: sticky;
  top: 0;
  display: block;
  background: #fff;
  z-index: 9900;
  margin-bottom: 100px;
  font-size: 0.8em;
}
nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav li {
  display: inline-block;
}
nav li button {
  background: transparent;
  font-size: 1em;
  font-weight: bold;
  border: none;
  border-bottom: 1px solid transparent;
  padding: 20px 0px;
  outline: none;
  margin: 0 20px 0 0;
}
code {
  font-size: 0.8em;
  display: inline-block;
  background: #f1ebe5;
  padding: 0 5px;
  border-radius: 2px;
}
article a {
  color: rgb(18, 44, 128);
}
article a:hover {
  text-decoration: none;
}
.comment {
  background: #f3f7ff;
  border-top-left-radius: 25px;
  border-left: 1px solid #bec8dc;
  border-bottom: 1px solid #bec8dc;
  margin: 0 0 10px;
  border-bottom-left-radius: 5px;
}
.comment:last-child {
  margin-bottom: -1px;
}
.comment img {
  border-radius: 50%;
  max-width: 37px;
  user-select: none;
}
.comment-header {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-content: center;
  align-items: center;
  background: #313844;
  color: #f9f9f9;
  border-top-left-radius: 90px;
  border-bottom-left-radius: 90px;
}
.comment.pending .comment-username:after {
  content: " (You)";
  font-size: 0.9em;
  margin-left: 10px;
  font-style: italic;
  opacity: 0.5;
}
.comment-header em {
  display: block;
  padding: 10px;
  color: #999;
  user-select: none;
}
.comment-body {
  padding: 0 10px 0 20px;
  font-size: 0.9em;
}
.comment-username {
  display: block;
  padding: 10px 20px;
  font-weight: normal;
}
.comment-username span {
  display: inline-block;
  margin-right: 10px;
  color: #999;
  user-select: none;
}
.comment-date {
  display: block;
  padding: 10px;
  font-style: normal;
  font-size: 0.8em;
  text-align: right;
}
.comments-container {
  margin-bottom: 100px;
  padding: 0px;
  position: relative;
}
.nestedComments {
  padding: 0px 0 0 0px;
  border-left: 1px solid #bec8dc;
  border-top: 1px solid #bec8dc;
  border-top-left-radius: 30px;
  margin-left: 20px;
}
.comment .comment-poster {
  font-size: 0.8em;
}
.nestedComments .comment {
  border-left: none;
}
.comment button {
  background: transparent;
  border: none;
  font-weight: bold;
  user-select: none;
}
.comment-poster button {
  display: block;
  background: rgb(57, 63, 84);
  color: #f9f9f9;
  font-weight: bold;
  padding: 10px 20px;
  width: 100%;
}
.comment-poster {
  margin: 0 0 60px;
  background: transparent;
  padding: 20px;
}
.comment-poster table {
  width: 100%;
}
.comment-poster table tr td:first-child {
  width: 100px;
}
.comment-poster input[type="text"],
.comment-poster input[type="email"],
.comment-poster textarea {
  width: 100%;
  padding: 5px;
  font-size: 1em;
  outline: none;
  resize: none;
  border: 1px solid rgb(48, 66, 126);
}
.comment-poster input[type="text"]:focus,
.comment-poster input[type="email"]:focus,
.comment-poster textarea:focus {
  border-color: #000;
}
.comment-poster-error {
  background: #b51717;
  margin: 0 0 10px;
  padding: 6px 15px;
  font-size: 0.9em;
  color: #fff0f0;
}
.social > .SocialMediaShareButton {
  display: inline-block;
  background: #eee;
  padding: 5px 10px;
  margin: 0 10px 0 0;
  cursor: pointer;
  font-size: 0.8em;
  border-radius: 2px;
}
.SocialMediaShareButton--facebook {
  background: #3c5a99 !important;
  color: #f9f9f9;
}
.SocialMediaShareButton--linkedin {
  background: #0077b5 !important;
  color: #fff;
}
.SocialMediaShareButton--twitter {
  background: #1da1f2 !important;
  color: #f5f8fa;
}
.SocialMediaShareButton--reddit {
  background: #ff4500 !important;
  color: #f5f8fa;
}
.social {
  margin: 0 0 60px;
  padding: 0 0 60px;
  border-bottom: 1px solid #eee;
}
.wp-block-code code {
  width: 100%;
  padding: 10px;
  overflow-y: auto;
  color: #103a58;
  background: #f6fbff;
  border: 1px solid #d5dde4;
  line-height: 1.5em;
}

/* animations */
article {
  animation: articleAnimation 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
@keyframes articleAnimation {
  from {
    transform: scale(1.02) translate(0px, -10px);
    opacity: 0;
  }
}
h1 {
  animation: h1Animation 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
@keyframes h1Animation {
  from {
    transform: translate(0px, 10px);
    opacity: 0;
  }
}
/* responsive design */
@media screen and (max-width: 400px) {
  h1 {
    font-size: 3.5em;
  }
}
@media screen and (max-width: 330px) {
  body {
    font-size: 12px;
  }
}
