body {
  font-size: 19px;
  background: #f7fafd;
  background-size: 22px 22px;
}
#root {
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
body,
input,
button,
textarea {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}
button {
  cursor: pointer;
}
.App {
  margin: 0 auto;
  display: flex;
  align-items: space-between;
  align-content: center;
  flex-direction: column;
  min-height: 100vh;
}
.leftContainer {
  position: sticky;
  top: 0;
}
.right {
  padding: 0 40px;
  overflow-x: auto;
  max-height: calc(100vh - 100px);
}
main {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}
.section-2 {
  background: #eee;
  padding: 60px;
  width: 100%;
}
.section-2 main {
  background: transparent;
}
article {
  font-size: 1.2em;
  line-height: 1.5em;
}
article.open {
  padding-bottom: 60px;
  margin: 0 0 40px 0;
  border-bottom: 1px solid rgb(242, 242, 247);
}
article.collapsed {
  position: relative;
  cursor: pointer;
  margin-bottom: 100px;
}
article.collapsed:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -5px;
  height: 100px;
  background: linear-gradient(to top, #f7fafd, rgba(255, 255, 255, 0.1));
  pointer-events: none;
}
article.collapsed:hover:after {
  transition: height 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  height: 60px;
}
article.collapsed:hover > .articleLink h3 {
  /* border-bottom-color: rgb(152, 158, 206); */
}
article.collapsed > .articleLink h3:after {
  transition: width 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
article.collapsed:hover > .articleLink h3:after {
  transition: width 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  width: 100%;
}
article img {
  max-width: 100%;
}
h1 {
  font-size: 3.5em;
  margin: 20px 0 0;
  cursor: pointer;
}
header {
  /* 
  margin: 0 0 60px; */
  padding: 50px 0 60px;
  h1,
  a {
    display: inline-block;
  }
  a {
    position: relative;
    z-index: 2;
  }
}
header a {
  color: #2a3b56;
  text-decoration: none;
  user-select: none;
}
.loading {
  opacity: 0;
  transform: translate(0px, 10px);
}
.loaded {
  transition: opacity 0.1s ease-in-out, translate 0.2s ease-in-out;
  opacity: 1;
  transform: translate(0px, 0px);
}
h3 {
  font-size: 2em;
  padding: 0 0 5px;
  border-bottom: 1px solid #fff;
  line-height: 1.2em;
  position: relative;
}
h3:after {
  content: "";
  height: 1px;
  background: rgb(152, 158, 206);
  width: 0px;
  position: absolute;
  top: 100%;
  left: 0px;
}
h4 {
  font-size: 1.5em;
}
.has-2-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.has-3-columns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.has-4-columns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
blockquote {
  border-left: 10px solid #2a3b56;
  padding: 5px 5px 5px 10px;
  margin: -5px 0 0 0;
  font-style: italic;
  background: #f7f9ff;
}
.wp-block-column {
  padding: 0px 5px;
}
.wp-block-columns {
  overflow-x: auto;
}
.wp-block-cover {
  min-height: 200px;
  margin: 20px 0 40px;
  background-size: cover;
}
.showLoading {
  text-align: center;
  padding-top: 100px;
  color: rgb(83, 82, 97);
}
.articleLink {
  color: rgb(6, 18, 59);
  text-decoration: none;
}
.articleLink:hover,
article.open .articleLink,
nav ul li button:hover {
  color: rgb(11, 31, 97);
}
.seperator {
  padding: 0 20px 0 0;
  color: #aaa;
}
.articleLink:hover h3,
article.open .articleLink h3 {
  border-bottom-color: transparent;
}
.minHeight {
  min-height: calc(100vh - 433px);
}
footer {
  text-align: center;
  padding: 100px 0;
  background: rgb(22, 27, 35);
  margin-top: 100px;
}
footer a {
  color: #f9f9f9;
}
footer a:hover {
  text-decoration: none;
}
.articleBodyLink {
  color: #333;
  text-decoration: none;
}
header,
nav {
  text-align: center;
}
main {
  background: #f7fafd;
}
nav {
  border-bottom: 1px solid #eee;
  border-top: 1px solid #eee;
  position: sticky;
  top: 0;
  display: block;
  background: #f7fafd;
  z-index: 9900;
  margin-bottom: 100px;
  font-size: 0.8em;
}
nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav li {
  display: inline-block;
}
nav li button {
  background: transparent;
  font-size: 1em;
  font-weight: bold;
  border: none;
  border-bottom: 1px solid transparent;
  padding: 20px 0px;
  outline: none;
  margin: 0 20px 0 0;
}
.animateIn {
  animation: animateIn 0.8s ease-in-out;
}
nav li button.gray {
  color: rgba(0, 0, 0, 0.3);
}
.indexLinks {
  margin: 0 0 0;
  display: flex;
  flex-basis: 0;
  align-items: center;
  align-content: center;
  justify-content: center;
  animation: indexLinksAnimation 2s ease-in-out;
}
.indexLinks div {
  padding: 0 20px 0 0;
  flex-basis: 1;
  flex: 1;
}
.indexLinks a {
  display: block;
  text-decoration: none;
  width: 100% !important;
}
.indexLinks button {
  --bg: rgb(59, 65, 110);
  background: var(--bg);
  border-color: var(--bg);
  padding: 14px 34px;
  font-size: 1.2em;
  display: block;
  width: 100% !important;
}
.center {
  text-align: center;
}
.onOffDM {
  position: fixed;
  top: 16px;
  right: 12px;
  background: #10101f;
  padding: 8px 10px;
  font-size: 0.7em;
  color: #cac8e4;
  cursor: pointer;
  z-index: 9999;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  font-weight: bold;
}
code {
  font-size: 0.8em;
  display: inline-block;
  background: #f1ebe5;
  color: #944d3c;
  padding: 0 5px;
  border-radius: 2px;
}
article a {
  color: rgb(18, 44, 128);
}
article a:hover {
  text-decoration: none;
}
article[data-id="136"] .wp-block-image {
  float: right;
  padding: 0px;
}
article[data-id="136"] .wp-block-image figure {
  padding-right: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
article[data-id="136"] .wp-block-image img {
  border: 3px solid #333;
}
.comment {
  background: #f3f7ff;
  border-top-left-radius: 25px;
  border-left: 1px solid #bec8dc;
  border-bottom: 1px solid #bec8dc;
  margin: 0 0 10px;
  border-bottom-left-radius: 5px;
}
.comment:last-child {
  margin-bottom: -1px;
}
.comment img {
  border-radius: 50%;
  max-width: 37px;
  user-select: none;
}
.comment-header {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-content: center;
  align-items: center;
  background: #313844;
  color: #f9f9f9;
  border-top-left-radius: 90px;
  border-bottom-left-radius: 90px;
}
.comment.pending .comment-username:after {
  content: " (You)";
  font-size: 0.9em;
  margin-left: 10px;
  font-style: italic;
  opacity: 0.5;
}
.comment-header em {
  display: block;
  padding: 10px;
  color: #999;
  user-select: none;
}
.comment-body {
  padding: 0 10px 0 20px;
  font-size: 0.9em;
}
.comment-username {
  display: block;
  padding: 10px 20px;
  font-weight: normal;
}
.comment-username span {
  display: inline-block;
  margin-right: 10px;
  color: #999;
  user-select: none;
}
.comment-date {
  display: block;
  padding: 10px;
  font-style: normal;
  font-size: 0.8em;
  text-align: right;
}
.comments-container {
  margin-bottom: 100px;
  padding: 0px;
  position: relative;
}
.nestedComments {
  padding: 0px 0 0 0px;
  border-left: 1px solid #bec8dc;
  border-top: 1px solid #bec8dc;
  border-top-left-radius: 30px;
  margin-left: 20px;
}
.comment .comment-poster {
  font-size: 0.8em;
}
.nestedComments .comment {
  border-left: none;
}
.comment button {
  background: transparent;
  border: none;
  font-weight: bold;
  user-select: none;
}
header.loaded p {
  animation: animateIn 0.4s ease-in-out;
}
.comment-poster button {
  display: block;
  background: rgb(57, 63, 84);
  color: #f9f9f9;
  font-weight: bold;
  padding: 10px 20px;
  width: 100%;
}
.comment-poster {
  margin: 0 0 60px;
  background: transparent;
  padding: 20px;
}
.comment-poster table {
  width: 100%;
}
.comment-poster table tr td:first-child {
  width: 100px;
}
.comment-poster input[type="text"],
.comment-poster input[type="email"],
.comment-poster textarea {
  width: 100%;
  padding: 5px;
  font-size: 1em;
  outline: none;
  resize: none;
  border: 1px solid rgb(48, 66, 126);
}
.comment-poster input[type="text"]:focus,
.comment-poster input[type="email"]:focus,
.comment-poster textarea:focus {
  border-color: #000;
}
.comment-poster-error {
  background: #b51717;
  margin: 0 0 10px;
  padding: 6px 15px;
  font-size: 0.9em;
  color: #fff0f0;
}
#particles-js {
  position: relative;
  overflow: hidden;
}
.particles-js canvas {
  position: absolute;
  z-index: 0;
  will-change: transform, opacity;
  animation: particlesAnimation 2.5s ease-in-out;
}
.imp-laptop .particles-js {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.imp-laptop .particles-js canvas {
  left: 0;
}
.social > .SocialMediaShareButton {
  display: inline-block;
  background: #eee;
  padding: 5px 10px;
  margin: 0 10px 0 0;
  cursor: pointer;
  font-size: 0.8em;
  border-radius: 2px;
}
.SocialMediaShareButton--facebook {
  background: #3c5a99 !important;
  color: #f9f9f9;
}
.SocialMediaShareButton--linkedin {
  background: #0077b5 !important;
  color: #fff;
}
.SocialMediaShareButton--twitter {
  background: #1da1f2 !important;
  color: #f5f8fa;
}
.SocialMediaShareButton--reddit {
  background: #ff4500 !important;
  color: #f5f8fa;
}
.social {
  margin: 0 0 60px;
  padding: 0 0 60px;
  border-bottom: 1px solid #eee;
}
.wp-block-code code {
  width: 100%;
  padding: 10px;
  overflow-y: auto;
  color: #a76152;
  background: #f6fbff;
  border: 1px solid #d5dde4;
  line-height: 1.5em;
}
.wpforms-form label {
  display: block;
}
.wpforms-form textarea {
  width: 100%;
  max-width: 100%;
  min-height: 80px;
}
.wpforms-field {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #aaa;
}
.wpforms-field-label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}
.wpforms-one-half {
  width: 50%;
}
.wpforms-field-row-block {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.wpforms-field-row-block label {
  font-size: 0.8em;
  opacity: 0.9;
}
.wp-block-embed {
  margin: 40px 0;
}
.wp-block-embed iframe {
  width: 100%;
}
.underLine {
  line-height: 1.7em;
  user-select: none;
  pointer-events: none;
}
.underLine a {
  color: #222;
}
.underLine strong {
  display: inline-block;
}
.underLine a {
  text-decoration: none;
}
.underLine strong:not(.noFlip) {
  -webkit-animation: flip-horizontal-fwd 0.4s
    cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
  animation: flip-horizontal-fwd 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955)
    both; /* 
  text-decoration: underline; */
  animation-delay: 0.5s;
}
.underLine strong:nth-child(2) {
  animation-delay: 0.8s;
}
.underLine strong:nth-child(3) {
  animation-delay: 1.1s;
}
.underLine strong:nth-child(4) {
  animation-delay: 0s;
}
/* animations */
article {
  animation: articleAnimation 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
@keyframes articleAnimation {
  from {
    transform: scale(1.02) translate(0px, -10px);
    opacity: 0;
  }
}
h1 {
  animation: h1Animation 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
@keyframes h1Animation {
  from {
    transform: translate(0px, 10px);
    opacity: 0;
  }
}
@keyframes particlesAnimation {
  from {
    opacity: 0;
  }
}
@keyframes indexLinksAnimation {
  from {
    opacity: 0;
    transform: translate(0px, 10px);
  }
  70% {
    opacity: 0;
    transform: translate(0px, 10px);
  }
}
/* responsive design */
@media screen and (max-width: 400px) {
  h1 {
    font-size: 3.5em;
  }
}
@media screen and (max-width: 330px) {
  body {
    font-size: 12px;
  }
}
@media screen and (max-width: 640px) {
  h1 {
    padding: 0 10px;
  }
  nav {
    margin-bottom: 20px;
  }
  article[data-id="136"] .wp-block-image {
    float: none;
  }
  article[data-id="136"] .wp-block-image figure {
    width: 100%;
    margin: 0px 0px 10px;
  }
  article[data-id="136"] .wp-block-image img {
    width: 100% !important;
    height: auto !important;
  }
  .section-2 {
    padding: 30px;
  }
}
@media screen and (max-width: 800px) {
  article,
  h5,
  .social {
    padding: 0 20px;
  }
  .social > .SocialMediaShareButton {
    margin-bottom: 20px;
  }
  .indexLinks {
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
  }
  .indexLinks div {
    padding: 0;
    flex: 1;
    width: 100%;
  }
  .indexLinks button {
    margin-bottom: 30px;
    width: 100%;
    display: block;
    padding: 40px 60px;
    font-size: 1.4em;
  }
}
body.darkModeBody {
  background: linear-gradient(90deg, #171727 20px, transparent 1%) center,
    linear-gradient(#171727 20px, transparent 1%) center, #1f1f38 !important;
  background-size: 22px 22px !important;
  background-attachment: fixed !important;
  color: #cac8e4 !important;
  body,
  nav,
  nav li button {
    color: #cac8e4 !important;
  }
  .section-2 {
    background: #1e1e31 !important;
    > main {
      background: transparent !important;
    }
  }
  .underLine a {
    color: #cac8e4 !important;
  }
  .indexLinks button {
    --bg: rgb(70, 70, 101) !important;
    background: var(--bg) !important;
    border-color: var(--bg) !important;
    line-height: 1.5em !important;
  }
  .indexLinks button:hover {
    background: transparent !important;
  }
  main {
    background: #171727 !important;
    padding: 10px !important;
  }
  nav {
    background: linear-gradient(90deg, #171727 20px, transparent 1%) center,
      linear-gradient(#171727 20px, transparent 1%) center, #1f1f38 !important;
    background-size: 22px 22px !important;
    background-attachment: fixed !important;
  }
  .comment-poster input[type="text"],
  .comment-poster input[type="email"],
  .comment-poster textarea {
    background: #171727 !important;
    border-color: rgb(40, 40, 72) !important;
    color: #f9f9f9 !important;
  }
  h1,
  h3 {
    color: #dbdaf0 !important;
  }
  h3 {
    border-color: transparent !important;
  }
  nav,
  article.open {
    border-color: rgb(36, 36, 61) !important;
  }
  header p,
  .articleBodyLink {
    color: #b5b3cf !important;
  }
  article.collapsed:after {
    background: linear-gradient(
      to top,
      rgb(23, 23, 39),
      rgba(23, 23, 39, 0.1)
    ) !important;
  }
  code,
  .wp-block-code code {
    background: rgb(18, 18, 31) !important;
    color: #adaada !important;
    color: #92cac2 !important;
  }
  .wp-block-code code {
    border-color: rgb(11, 11, 20) !important;
  }
  article a {
    color: rgb(154, 173, 236) !important;
  }
  .social {
    border-bottom-color: rgb(36, 36, 61) !important;
  }
  .seperator {
    color: rgb(36, 36, 61) !important;
  }
  blockquote {
    background: #171d2f !important;
  }
  .social > .SocialMediaShareButton {
    background: rgb(18, 18, 31) !important;
  }
  .comment-poster button {
    border-color: rgb(18, 18, 31) !important;
  }
  .articleLink:hover,
  article.open .articleLink,
  nav ul li button:hover {
    color: rgb(154, 173, 236) !important;
  }
  footer {
    background: rgb(17, 17, 35) !important;
  }

  nav li button.gray {
    color: rgba(255, 255, 255, 0.3) !important;
  }
  .comment {
    background: #222 !important;
    border-color: #111 !important;
  }
  .comment button {
    color: #f9f9f9 !important;
  }
}
@keyframes animateIn {
  from {
    transform: translate(0px, 5px);
    opacity: 0;
  }
}
@keyframes flip-horizontal-fwd {
  0% {
    opacity: 0;
    -webkit-transform: translateZ(-160px) rotateX(-180deg);
    transform: translateZ(-160px) rotateX(-180deg);
  }
  40% {
    opacity: 0;
  }
  60% {
    text-shadow: 0px 0px 10px #fff;
  }
  100% {
    text-shadow: none;
    -webkit-transform: translateZ(0px) rotateX(0deg);
    transform: translateZ(0px) rotateX(0deg);
  }
}
